{% extends "layout.html" %}
{% block content %}
    <h1>{{ current_user.username }}</h1>
    <h4><a class="nav-item nav-link" href="{{ url_for('dodaj_druzyne') }}">Dodaj Druzyne</a></h4>
    <h4><a class="nav-item nav-link" href="{{ url_for('dodaj_zawodnika') }}">Dodaj Zawodnika</a></h4>
    <h4><a class="nav-item nav-link" href="{{ url_for('dodaj_mecz') }}">Dodaj Mecz</a></h4>
    <h4><a class="nav-item nav-link" href="{{ url_for('dodaj_sklad') }}">Dodaj skład</a></h4>
{% endblock content %}