{% extends "layout.html" %}
{% block content %}
    <h1>Wyszukane Mecze</h1>
    {% for mecze in Mecze11 %}
    <li>Id: {{ mecze.id}}.   Data {{mecze.date}} - {{mecze.druzyna1}} -  {{mecze.druzyna2}}</li>
    {% endfor %}
    {% for mecze in Mecze12 %}
    <li>Id:  {{ mecze.id}}. Data {{mecze.date}} - {{mecze.druzyna1}} -  {{mecze.druzyna2}}</li>
    {% endfor %}
    {% for mecze in Mecze13 %}
    <li>Id:  {{ mecze.id}}. Data {{mecze.date}} - {{mecze.druzyna1}} -  {{mecze.druzyna2}}</li>
    {% endfor %}
    {% for mecze in Mecze14 %}
    <li>Id:  {{ mecze.id}}. Data {{mecze.date}} - {{mecze.druzyna1}} -  {{mecze.druzyna2}}</li>
    {% endfor %}
    {% for mecze in Mecze15 %}
    <li>Id:  {{ mecze.id}}. Data {{mecze.date}} - {{mecze.druzyna1}} -  {{mecze.druzyna2}}</li>
    {% endfor %}
    {% for mecze in Mecze21 %}
    <li>Id: {{ mecze.id}}.   Data {{mecze.date}} - {{mecze.druzyna1}} -  {{mecze.druzyna2}}</li>
    {% endfor %}
    {% for mecze in Mecze22 %}
    <li>Id:  {{ mecze.id}}. Data {{mecze.date}} - {{mecze.druzyna1}} -  {{mecze.druzyna2}}</li>
    {% endfor %}
    {% for mecze in Mecze23 %}
    <li>Id:  {{ mecze.id}}. Data {{mecze.date}} - {{mecze.druzyna1}} -  {{mecze.druzyna2}}</li>
    {% endfor %}
    {% for mecze in Mecze24 %}
    <li>Id:  {{ mecze.id}}. Data {{mecze.date}} - {{mecze.druzyna1}} -  {{mecze.druzyna2}}</li>
    {% endfor %}
    {% for mecze in Mecze25 %}
    <li>Id:  {{ mecze.id}}. Data {{mecze.date}} - {{mecze.druzyna1}} -  {{mecze.druzyna2}}</li>
    {% endfor %}

{% endblock content %}