{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
     <div class="media-body">
      
      {% if current_user.is_authenticated %}
      <h2 class="article-title">{{ zawodnik.nazwisko }} {{zawodnik.imie}} </h2>
      <p class="article-content">Id Zawodnika {{ zawodnik.id}}</p>
      {% else %}
      <h2 class="article-title">{{ zawodnik.nazwisko }} {{zawodnik.imie}} </h2>
      {% endif %}
      <h3>{{ team }} </h3>
    
    
        </div>
    </article>

   
{% endblock content %}